html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 3rem 2.5rem auto auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-image:url("../img/low-poly-abstract-background-free-vector.jpg");
    background-size: cover;
}

.header p{
    color: white;
    font-size: 1rem;
}

nav{
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
}

nav ul li a{
    color: white;
    margin: 1rem;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: transparent;
}

main{
    grid-area: main;
    background-color: white;
}

.artikkelkort{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.artikkelkort h3{
    margin: 0.1rem;
    font-size: 3vw;
}

.artikkelkort p{
    font-size: 1.5vw;
    text-align: start;
    margin: 0 0.4rem 2rem 0.4rem;
}

.artikkelkort img{
    margin-top: 0.5vw;
    height: 29vw;
    width: 97%;
}

.artikkelkort .cmslogo{
    height: 12vw;
    width: 40%;
}

article{
    box-shadow: 0px 6px 6px 4px rgba(0, 0, 0, 0.26);
    width: 90%;
    background-color: rgb(243, 242, 242);
}

.Tabell{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    padding: 0 1.5rem 0 1.5rem;
}
.TabellUU{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    padding: 0 3rem 0 3rem;
}
.Rad{
    display: block;
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: rgba(0, 0, 0, 0.514);
    padding: 0 0 0 0.5rem;
}

.RadTittel{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: rgba(0, 0, 0, 0.514);
}

.Rad ul li{
    font-size: 3vw;
    padding-bottom: 0.35rem;
    list-style: none;
}

.googlemaps{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 0 0 0;
}

.tlf p{
    margin: 0rem;
}

.tlf p i{
    color: black;
}

#googlemapsbeholder{
    width: 800px;
    height: 570px;
}

.sosialmedia{
    grid-area: "footer";
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20, 13, 1);
    margin-top: 1rem;
    text-align: center;
    flex-direction: column;
}

i{
    color: white;
}

.fa-solid.fa-hippo{
    font-size: 2rem;
    padding-left: 1rem;
}

#ham-icon{
    display: block;
    position: sticky;
    right: 72px;
  }

#share-icon{
    display: block;
    position: absolute;
    right: 72px;
}

#main-menu{
    position: absolute;
    top: 86px;
    background-color: #2f2f2f;
    width: 100%;
}
  #main-menu li{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  #main-menu a{
    color: #fff;
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
  }
  #share-menu{
    position: absolute;
    top: 471px;
    background-color: #2f2f2f;
  }
  #share-menu li{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  #share-menu a{
    color: #fff;
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
  }
  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .kontaktskjema{
    display: flex;
    justify-content: center;
  }
@media only screen and (max-width: 500px){
    .TabellUU{
        padding:unset;
    }
    .Tabell{
        padding:unset;
    }
    article{
        width: 100%;
    }
    .Rad{
        font-size: 3vw;
    }
    
    .RadTittel{
        font-size: 5vw;
    }
}
@media only screen and (min-width: 800px){
    article{
        width: 55%;
    }    
    .sosialmedia{
        flex-direction: row;
    }
    .Tabell{
        padding: 0 3rem 0 3rem;
    }
    .Rad{
        font-size: 1.5vw;
    }
    nav ul li a:hover {
        background-color: rgb(71, 3, 71);
      }
      nav ul li{
        display: inline-block;
      }
      #ham-icon{
        display: none;
      }
      #main-menu{
        display: flex !important;
        justify-content: flex-end;
        position: static;
        background-color: transparent;
      }
      #share-menu{
        display: flex !important;
        justify-content: flex-end;
        position: static;
        background-color: transparent;
      }
      html{
        font-size: calc(1em + 1vw);
    }
}